<div class="authform">
  <h3>Edit <%= resource_name.to_s.humanize %></h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :nombre %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <fieldset>
      <p>Deja estos campos en blanco si no quieres cambiar tu contraseña.</p>
      <div class="form-group">
        <%= f.label :contraseña %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :confirmar_contraseña %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p>Debes introducir tu contraseña actual para hacer los cambios.</p>
      <div class="form-group">
        <%= f.label :contraseña_actual %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit 'Actualizar', :class => 'button right' %>
  <% end %>
</div>
<div class="authform">
<h3>Cancelar cuenta</h3>
<p>Insatisfecha? Tu marcha nos entristece.</p>
<%= button_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "Estás segura?" }, :method => :delete, :class => 'button right' %>
</div>
