<% if user_signed_in? %>
  <li><%= link_to 'Editar cuenta', edit_user_registration_path %></li>
  <li><%= link_to 'Configurar cuenta', users_path %></li>
  <li><%= link_to 'Cerrar sesion', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Acceder', new_user_session_path %></li>
  <li><%= link_to 'Registro', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Usuarias', users_path %></li>
<% end %>

<%# Los atributos del modelo pueden utilizarse para acceder a los datos del usuario. En este ejemplo, sale en gris oscuro%>
<%# if current_user %>  
	<%# current_user %>
	<%# current_user.name %>
	<%# current_user.email %>
	<%# Password no sale ? %>
	<%# current_user.password %>
<%# end %>